.container .search {
    width: 100%;
    height: 150px;
    padding-left: 50px;
    padding-top: 10px;
    background-color: red;
}

.container .search__input {
    width: 200px;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
}

.container .search__btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 30px;
}
